In [1]:
# pip install openpyxl

from openpyxl.workbook import Workbook
from openpyxl import load_workbook

### Creat a new workbook

In [2]:
# wb for workbook, ws for worksheet
wb = Workbook()
# creates a work sheet refernce equal to the active sheet in our current workbook. 
ws = wb.active

In [3]:
ws1 = wb.create_sheet('NewSheet')
# (‘Another’, 0) 0--- count as an index, so in the order of our worksheets this one appears before everything else. 
ws2 = wb.create_sheet('Another', 0)

ws.title = 'Mysheet'

print(wb.sheetnames)

['Another', 'Mysheet', 'NewSheet']

### load an existing workbook to access its cells

In [4]:
import pandas as pd
wb2_df = pd.read_excel('Exercise_Files/regions.xlsx')
wb2_df

  Region  Units  Sales  Export
0  South     54    332     100
1  North     20    110      50
2   East     36    224      85
3   West     60    400     110
4   West     50    226      65
5  North     84    470     150

In [5]:
wb2 =  load_workbook('Exercise_Files/regions.xlsx')

new_sheet = wb2.create_sheet('NewSheet')
active_sheet = wb2.active

cell =  active_sheet['A1']
print(cell)

<Cell 'Sheet1'.A1>

In [6]:
print(cell.value)

Region

In [7]:
active_sheet['A1'] = 0
wb2.save('Exercise_Files/modified.xlsx')

In [8]:
newwb2_df = pd.read_excel('Exercise_Files/modified.xlsx')
newwb2_df

       0  Units  Sales  Export
0  South     54    332     100
1  North     20    110      50
2   East     36    224      85
3   West     60    400     110
4   West     50    226      65
5  North     84    470     150

### Selecting cells, rows, and columns

In [9]:
wb =  load_workbook('Exercise_Files/regions.xlsx')
ws = wb.active

cell_range = ws['A1':'C1']
print(cell_range)

((<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.B1>, <Cell 'Sheet1'.C1>),)

In [10]:
# return the cells of a column
col_c = ws['C']
print(col_c)

(<Cell 'Sheet1'.C1>, <Cell 'Sheet1'.C2>, <Cell 'Sheet1'.C3>, <Cell 'Sheet1'.C4>, <Cell 'Sheet1'.C5>, <Cell 'Sheet1'.C6>, <Cell 'Sheet1'.C7>)

In [11]:
# specify which columns
col_range = ws['A' : 'C']
print(col_range)
# This variable is formatted as a two-dimensional array as well. The first index corresponds to each column,
# while the second corresponds to each row.
# For example, if I wanted to access from the column range varible B2, I would index it at (1,1).

((<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.A2>, <Cell 'Sheet1'.A3>, <Cell 'Sheet1'.A4>, <Cell 'Sheet1'.A5>, <Cell 'Sheet1'.A6>, <Cell 'Sheet1'.A7>), (<Cell 'Sheet1'.B1>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.B4>, <Cell 'Sheet1'.B5>, <Cell 'Sheet1'.B6>, <Cell 'Sheet1'.B7>), (<Cell 'Sheet1'.C1>, <Cell 'Sheet1'.C2>, <Cell 'Sheet1'.C3>, <Cell 'Sheet1'.C4>, <Cell 'Sheet1'.C5>, <Cell 'Sheet1'.C6>, <Cell 'Sheet1'.C7>))

In [12]:
row_range = ws[1:5]
print(row_range)
# The first index actes as the row index, and the second acts as the column.
# For example, if I wanted to access B1 this time, I would index it at (0,1)

((<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.B1>, <Cell 'Sheet1'.C1>, <Cell 'Sheet1'.D1>), (<Cell 'Sheet1'.A2>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.C2>, <Cell 'Sheet1'.D2>), (<Cell 'Sheet1'.A3>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.C3>, <Cell 'Sheet1'.D3>), (<Cell 'Sheet1'.A4>, <Cell 'Sheet1'.B4>, <Cell 'Sheet1'.C4>, <Cell 'Sheet1'.D4>), (<Cell 'Sheet1'.A5>, <Cell 'Sheet1'.B5>, <Cell 'Sheet1'.C5>, <Cell 'Sheet1'.D5>))

In [13]:
for row in ws.iter_rows(min_row=1, max_col=3, max_row=2):
    for cell in row:
        print(cell)

<Cell 'Sheet1'.A1>
<Cell 'Sheet1'.B1>
<Cell 'Sheet1'.C1>
<Cell 'Sheet1'.A2>
<Cell 'Sheet1'.B2>
<Cell 'Sheet1'.C2>

In [14]:
for row in ws.iter_rows(min_row=1, max_col=3, max_row=2, values_only=True):
    for cell in row:
        print(cell)

Region
Units
Sales
South
54
332

### Formatting workbooks

In [2]:
from openpyxl.styles import Font, colors, Color, Alignment, PatternFill, GradientFill, Border, Side

In [3]:
wb = Workbook()
ws = wb.active

for i in range(1,20):
    ws.append(range(300))
    
ws.merge_cells("A1:B5")
ws.unmerge_cells("A1:B5")
ws.merge_cells(start_row=2, start_column=2, end_row=5, end_column=5)
# The one thing to remember about merged cells is that they're addressed as their top-left cell.

cell = ws['B2']
cell.font = Font(color="00FF00", size=20, italic=True)
cell.value = 'Merged Cell'
cell.alignment = Alignment(horizontal='right', vertical='bottom')
cell.fill = GradientFill(stop=("000000", "FFFFFF"))
wb.save('text.xlsx')

In [ ]:
from openpyxl.styles import NamedStyle

In [4]:
highlight = NamedStyle(name='highlight')
highlight.font = Font(bold=True)
# darken the borders 
bd = Side(style='thick', color='000000')
highlight.border = Border(left=bd, top=bd, right=bd, bottom=bd)
# change the fill color, use pattern fill to instead of using gradient fill
highlight.fill = PatternFill('solid', fgColor='FFFF00')

count = 0
for col in ws.iter_cols(min_col=8, min_row=1, max_col=30, max_row=30):
    col[count].style = highlight
    count = count + 1
wb.save('highlight.xlsx')

### Graphs and charts (Pie chart)

In [1]:
import openpyxl
from openpyxl.chart import PieChart, Reference, Series, PieChart3D

In [5]:

# create an empty workbook
wb = openpyxl.Workbook()
ws = wb.active

# create the data set
data = [
    ['Flavor', 'Sold'],
    ['Vanilla', 1500],
    ['Chocolate', 1700],
    ['Strawberry', 600],
    ['Pumpkin Spice', 950]
]

# transfer the to Excel
for rows in data:
    ws.append(rows)
    
# map data to the chart
chart = PieChart()
# create two variables to store the data
labels = Reference(ws, min_col=1, min_row=2, max_row=5)
data = Reference(ws, min_col=2, min_row=1, max_row=5)

# add them to the chart using some in-built functions, add_data and set_categories
chart.add_data(data, titles_from_data=True)
chart.set_categories(labels)
chart.title = 'Ice Cream by Flavor'

ws.add_chart(chart, 'C1')
wb.save('Pie.xlsx')

### Tables and images

In [27]:
from openpyxl.worksheet.table import Table, TableStyleInfo
from openpyxl.drawing.image import Image
from openpyxl import load_workbook

In [22]:
# load the workbook
wb = load_workbook('Pie.xlsx')
# create the active worksheet
ws = wb.active

### Tables

In [23]:
# set up a variable
tab = Table(displayName='Table1', ref='A1:B5')
style = TableStyleInfo(name='TableStyleMedium8', showFirstColumn=False, showLastColumn=False,
                       showRowStripes=True, showColumnStripes=True)
tab.tableStyleInfo = style
ws.add_table(tab)
wb.save('table.xlsx')

### Image

In [25]:
# install the Pillow library to insert images into your Excel
# pip install pillow

Requirement already satisfied: pillow in c:\users\mengyacao\anaconda3\lib\site-packages (8.2.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
img = Image('madecraft.jpg')
# img.height = img.height * .25
# img.width = img.width * .25
ws.add_image(img, 'C1')
wb.save('image.xlsx')

### Managing multiple sheets

In [1]:
import pandas as pd

In [3]:
df_1 = pd.read_excel('Exercise_Files/shifts.xlsx', sheet_name='Sheet')
df_2 = pd.read_excel('Exercise_Files/shifts.xlsx', sheet_name='Sheet1')
df_3 = pd.read_excel('Exercise_Files/shift_3.xlsx')
df_all = pd.concat([df_1, df_2, df_3], sort=False)
print(df_all)

    Shift Region Sales Rep  Product  Cost per  Units Sold
0       1  South    Meggan    Paper        15         163
1       1  South    Charis  Stapler        25         108
2       1  South    Shayne   Pencil         5         118
3       1  North   Krystin      Pen        10          37
4       1  South       Leo    Paper        15         131
..    ...    ...       ...      ...       ...         ...
94      3  South     Willa      Pen        10          42
95      3   West    Shayne    Paper        15         168
96      3   East    Adrian   Binder        30         132
97      3   East     Willa    Paper        15         111
98      3   East     Diann   Folder        17         151

[298 rows x 6 columns]

In [4]:
# print out row 50
print(df_all.loc[50])

    Shift Region Sales Rep Product  Cost per  Units Sold
50      1  South  Shirlene  Binder        30         176
50      2  North   Jenifer  Pencil         5          62
50      3   West    Conrad  Folder        17          51

In [6]:
print(df_all.groupby(['Shift']).mean()['Units Sold'])

Shift
1    114.767677
2    112.460000
3    109.343434
Name: Units Sold, dtype: float64

In [7]:
to_excel = df_all.to_excel('all_shifts.xlsx', index=None)

In [8]:
from openpyxl import load_workbook
from openpyxl.styles import Font

In [9]:
wb = load_workbook('all_shifts.xlsx')
ws = wb.active

total_col = ws['G1']
total_col.font = Font(bold=True)
total_col.value = 'Total'

e_col, f_col = ['E', 'F']
for row in range(2,300):
    result_cell = 'G{}'.format(row)
    e_value = ws[e_col + str(row)].value
    f_value = ws[f_col + str(row)].value
    ws[result_cell] = e_value * f_value

wb.save('totaled.xlsx')

### Converting data

In [10]:
import pandas as pd
from openpyxl import load_workbook
# import the another openpyxl module
# This will allow us to convert our dataframe into a format that's usable by openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows

In [11]:
wb = load_workbook('Exercise_Files/regions.xlsx')
ws = wb.active
df = pd.read_excel('all_shifts.xlsx')
df1 = df[['Sales Rep', 'Cost per', 'Units Sold']]
df1['Total'] = df1['Cost per'] * df1['Units Sold']
print(df1)

    Sales Rep  Cost per  Units Sold  Total
0      Meggan        15         163   2445
1      Charis        25         108   2700
2      Shayne         5         118    590
3     Krystin        10          37    370
4         Leo        15         131   1965
..        ...       ...         ...    ...
293     Willa        10          42    420
294    Shayne        15         168   2520
295    Adrian        30         132   3960
296     Willa        15         111   1665
297     Diann        17         151   2567

[298 rows x 4 columns]

<ipython-input-11-60d40d1dbdb9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Total'] = df1['Cost per'] * df1['Units Sold']

In [14]:
rows = dataframe_to_rows(df1, index=False)
for r_idx, row in enumerate(rows,1):
    for c_idx, col in enumerate(row,6):
        ws.cell(row=r_idx, column=c_idx, value=col)
wb.save('combined.xlsx')

### Parsing large speadsheets

In [15]:
import pandas as pd
import numpy as np
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook

In [19]:
wb = load_workbook('Exercise_Files/template.xlsx')
ws = wb.active

df = pd.read_csv('Exercise_Files/crime.csv', encoding='utf-8', dtype={"INCIDENT_NUMBER": str, "OFFENSE_CODE": str, 
                                                                      "OFFENSE_CODE_GROUP": str, "OFFENSE_DESCRIPTION": str,
                                                                      "DISTEICT": str, "REPORTING_AREA": str, "SHOOTING": str,
                                                                      "YEAR": str, "MONTH": str, "DAY_OF_WEEK": str, "HOUR": str})

df1 = df[df['OFFENSE_CODE_GROUP'] == 'Counterfeiting']

df1 = df1.replace(np.nan, 'N/A', regex=True)

total_crimes = len(df.index)
counterfeit = len(df1.index)
perc_crimes = (counterfeit / total_crimes) * 100
perc_crimes = round(perc_crimes, 2)

In [20]:
ws['O8'].value = total_crimes
ws['P8'].value = counterfeit
ws['Q8'].value = perc_crimes

df1['Count'] = 1
df2 = df1.groupby(['DISTRICT', 'YEAR']).count()['Count']
print(df2)

DISTRICT  YEAR
A1        2015    25
          2016    57
          2017    37
          2018    27
A15       2015     5
          2016     2
          2017     8
          2018     3
A7        2015     6
          2016    16
          2017    14
          2018     8
B2        2015    32
          2016    68
          2017    64
          2018    28
B3        2015    26
          2016    44
          2017    34
          2018    23
C11       2015    73
          2016    98
          2017    62
          2018    41
C6        2015    16
          2016    28
          2017    27
          2018    21
D14       2015     6
          2016    32
          2017    69
          2018    15
D4        2015    35
          2016    64
          2017    66
          2018    49
E13       2015    17
          2016    42
          2017    37
          2018    18
E18       2015    20
          2016    26
          2017    23
          2018    17
E5        2015    15
          2016    17
          2017    15
          2018    11
N/A       2017     1
          2018     1
Name: Count, dtype: int64

In [21]:
df2 = df1.groupby(['DISTRICT', 'YEAR']).count()['Count'].unstack(level=0)
print(df2)

DISTRICT    A1  A15    A7    B2    B3   C11    C6   D14    D4   E13   E18  \
YEAR
2015      25.0  5.0   6.0  32.0  26.0  73.0  16.0   6.0  35.0  17.0  20.0
2016      57.0  2.0  16.0  68.0  44.0  98.0  28.0  32.0  64.0  42.0  26.0
2017      37.0  8.0  14.0  64.0  34.0  62.0  27.0  69.0  66.0  37.0  23.0
2018      27.0  3.0   8.0  28.0  23.0  41.0  21.0  15.0  49.0  18.0  17.0

DISTRICT    E5  N/A
YEAR
2015      15.0  NaN
2016      17.0  NaN
2017      15.0  1.0
2018      11.0  1.0

In [23]:
df2.drop(columns='N/A', inplace=True)

In [24]:
rows = dataframe_to_rows(df2)
for r_idx, row in enumerate(rows,8):
    for c_idx, value in enumerate(row,1):
        ws.cell(row=r_idx, column=c_idx, value=value)

wb.save('crime_report.xlsx')

### Advanced graphing with Excel and Python

In [8]:
from openpyxl import load_workbook
from openpyxl.chart import BarChart, PieChart, Series, Reference

wb = load_workbook('Exercise_Files/crime_report.xlsx')
ws = wb.active

In [10]:
chart = BarChart()
data = Reference(ws, min_row=10, min_col=1, max_col=13, max_row=13)
labels = Reference(ws, min_row=8, min_col=2, max_row=8, max_col=13)
chart.add_data(data, from_rows=True, titles_from_data=True)
chart.set_categories(labels)
chart.title = 'Counterfeit Crimes by District'
chart.height = 4.56
chart.width = 20.3
ws.add_chart(chart, 'B14')

chart2 = PieChart()
data = Reference(ws, min_col=15, max_col=16, min_row=8, max_row=8)
labels = Reference(ws, min_col=15, max_col=16, min_row=7, max_row=7)
chart2.add_data(data, from_rows=True)
chart2.set_categories(labels)
chart2.title = '% Counterfeit Crimes'
chart2.height = 4.56
chart2.width = 8.45
ws.add_chart(chart2, 'N14')
wb.save('lines.xlsx')